[loggers]
keys=root

[handlers]
keys=stderr_handler,f_handler

[formatters]
keys=simpleformater

[logger_root]
level=NOTSET
handlers=stderr_handler

[handler_stderr_handler]
class=StreamHandler
level=NOTSET
formatter=simpleformater
args=(sys.stderr,)

[handler_f_handler]
class=FileHandler
level=NOTSET
formatter=simpleformater
args=("log_file",)

[formatter_simpleformater]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
